.page-header{
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;

}
h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.jumbotron{
    background-color:#ffdf00;
    color:black;
    max-height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.jumbotron p {
  margin-bottom: 5px;
}

.poi{
  text-align: right;
}
.gm{
  text-align: left;
  padding: 1px;
}

.list-group {
  overflow-y: auto;
  max-height: 40vh;
}

.description-box {
  overflow-y: auto;
  max-height: 60vh;
}
